*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    --hoverTextColor:rgb(244, 51, 151);
    --textColor : rgb(87, 85, 85);
}


/* Top NavBar */

.header{
    max-width: 1400px;
    margin: 20px auto;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.top-nav .logo{
    color: #570d48;
    font-family: sans-serif;
    font-size: 42px;
    font-weight: 600;
}
.top-nav .searchbar{
    display: flex;
    align-items: center;
    border: 1px solid #cacad5;
    padding: 10px;
    width: 450px;
}

.top-nav .searchbar input{
    width: 100%;
    border: none;
    outline: none;
    margin-left: 5px;
}
.searchbar input[type="text"]{
    font-size: 16px;
}

#close{
    display: none;
    cursor: pointer;
}
.top-nav .download{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 58px;
}
.download:hover{
    border-bottom: 3px solid var(--hoverTextColor);
}
.download .phone{
    font-size: 20px;
}
.download span{
    font-size: 18px;
    color: #3f3e3e;
    margin-left: 10px;
}
.downloadSource{
    padding: 15px 20px;
    position: absolute;
    top: 60px;
    left: -20px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    
}
.download:hover .downloadSource{
    display: block;
}
.downloadSource h3{
    margin: 20px 0;
}
.downloadSource img{
    width: 150px;
    margin: 20px 0 0 0;
}


.Newsroom, .Supplier{
    font-size: 18px;
    color: #3f3e3e;
}
.profile{
    position: relative;
    cursor: pointer;
}
.profile, .cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
}
.profile:hover{
    text-decoration: underline;
    text-decoration-color: #570d48;
    color: #570d48;
}

/* profile Drop down */

.profileDrop{
    display: none;
    width: 210px;
    height: 190px;
    padding: 15px 10px;
    position: absolute;
    top: 65px;
    left:-80px;
    background-color: #fff;
    color: black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    z-index: 999;
}
.open{
    display: block;
}
.profileDrop a{
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    padding: 8px 0;
    background-color: #8b0c72;
}
.profileDrop hr{
    border: 1px solid black;
}

.profileDrop .myOrder{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.myOrder h3{
    margin-left: 20px;
}


/* complete top  navbar */


.bottom-nav{
    width: 100%;
    height: 50px;
}
.bottom-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: 100%;
    margin: 0;
    position: relative; 
}
.bottom-nav ul li{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #3f3e3e;
    border-bottom: 3px solid transparent;

}
.bottom-nav ul li:hover{
    border-bottom-color: rgb(204, 19, 127);
}

/* Category menu  */

.submenu{
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    width: 99%;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: none;
    margin: 0px 14px;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.bottom-nav ul li:hover .submenu{
    display: block;
}
.submenu h4{
    margin-bottom: 10px;
    color: var(--hoverTextColor);
}
.submenu p{
    color: var(--textColor);
    margin: 10px 0;
}
.submenuList{
    display: flex;
}
.column{
    padding-right: 20px;
}

/* lowest price section */

.lowestpriceContainer{
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: space-between;
    flex: 1;
}
.lowestpriceContainer h1{
    font-size: 40px;
    margin: 0;
}
.lowestprice_text{
    width: 50%;
    padding: 25px 0 0 25px;
}
.lowestPrice_image{
    width: 50%;
}
.lowestPriceWhay{
    display: flex;
    margin-top: 20px;
}
.lowestPriceItem{
    padding:0 20px;
    margin: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ccc;
}
.lowestPriceItem p{
    padding-left: 10px;
}
.lowestPrice_icon{
    width: 30px;
    border-radius: 40px;
    /* background-color: rgb(238, 113, 187); */
}
.downloadApp__container{
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: var(--hoverTextColor);
    padding: 0 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
}
.downloadApp__container p{
    padding: 0px 20px;
}

/* topCategoriesFrom */

.topCategoriesFrom{
    width: 1200px;
    margin: 0 auto;
}
.topCategoriesHeading{
    display: flex;
    align-items: center;
}
.topCategoriesHeading h1{
    margin: 0 10px;
}
.horizontalLine{
    width: 25%;
    padding: 1px;
    background-color: var(--hoverTextColor);
}
.topCategoriesImage{
    width: 100%;
    height: 550px;
    background-image: url("https://images.meesho.com/images/marketing/1704720332049_1200.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.topCategoriesImage img{
    margin: 8% 20px;
}

/* essentialContainer */

.essentialContainer{
    max-width: 1200px;
    margin: 10px auto;
    width: 100%;
    margin-top: 50px;
    height: 500px;
    background-image: url("https://images.meesho.com/images/marketing/1704720392370_1200.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.essentialContainer img{
    max-width: 150px;

}
.essential_item{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.essential_item img{
    margin: 15px 0;
}
.viewAll{
    margin-top: 50px;
}

/* New Style */

.newStyleContainer{
    max-width: 1200px;
    margin: 10px auto;
    width: 100%;
    height: 500px;
    background-image: url("https://images.meesho.com/images/marketing/1704720694167_1200.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.newStyleContainer img{
    width: 150px;
    margin-top: 60px;
}
.newstyleItem{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}
.newstyleItem img{
    margin: 10px 0;
}